.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 20px 0;
  > a,
  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
  }
}
